@import "../../.cache/colors/colors.css";

* {
  all: unset;
}

stack {
  background: @surface;
  color: @on_surface;
  padding: 4px;
  border-radius: 16px;
  box-shadow: 0 0 4px 0 alpha(@shadow, .6);
}

stack>box:first-child>box#search-bar-holder {
  font-size: 1.4rem;
  background: @surface_container;
  color: @on_surface;
  padding: 24px;
  border-bottom: .5px solid @tertiary;
  border-radius: 12px 12px 0 0;
}

stack>box:first-child>box#search-bar-holder>entry>text>placeholder {
  color: alpha(@on_secondary_container, .3);
}

stack>box.vertical>box.horizontal {
  background: @surface_container;
  color: @on_secondary_container;
  padding: 6px;
  border-radius: 0px;
}

stack>box.vertical>box.horizontal:nth-child(2) {
  background: @surface_container;
  color: alpha(@on_secondary_container, 0.5);
  padding: 6px 12px;
  border-radius: 0px;
}

stack>box.vertical>box:last-child {
  background: @surface_container;
  color: alpha(@on_secondary_container, 0.5);
  padding: 6px 12px;
  border-top: .5px solid @tertiary;
  border-radius: 0 0 12px 12px;
}

row {
  padding: 4px 12px;
  border-radius: 8px;
}

row:selected {
  background: alpha(@tertiary, .2);
}

label#launcher-type {
  font-size: .8rem;
  color: alpha(@on_secondary_container, .3);
}

label#title {
  font-size: 1.2rem;
}

image#icon {
  -gtk-icon-shadow: 0 0 8px @shadow;
}
