/***
 *    ┓ ┏┏┓┓┏┳┓┏┓┳┓  ┳┳┓┳┳┓┳┳┳┓┏┓┓   ┏┓┏┓┏┓
 *    ┃┃┃┣┫┗┫┣┫┣┫┣┫━━┃┃┃┃┃┃┃┃┃┃┣┫┃ ━━┃ ┗┓┗┓
 *    ┗┻┛┛┗┗┛┻┛┛┗┛┗  ┛ ┗┻┛┗┻┛ ┗┛┗┗┛  ┗┛┗┛┗┛
 *                                         
 */




/*-----------IMPORTING MATUGEN COLORS----------*/
@import "../colors/colors.css";


* {
  all: unset;
  border: none;
  font-family: "Readex Pro SemiBold, CaskaydiaCove Nerd Font";
  font-weight: bold;
}

window#waybar {
  all: unset;
  background: alpha(@surface, .6);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  color: @on_surface;
}

/* .modules-left { */
/* padding: 0.4px; */
/* margin: 0.6px 0.6px 0.3px 0.6px; */
/* border-radius: 10px; */
/* background: alpha(@surface, .6); */
/* box-shadow: 0px 0px 2px rgba(0, 0, 0, .6); */
/* } */

/* .modules-center { */
/* all: unset; */
/* font-size: 0.4rem; */
/* padding: 0.4px; */
/* margin: 0.4px 0.4px 0.2px 0.4px; */
/* margin: 0.6px 0.6px 0.3px 0.6px; */
/* border-radius: 10px; */
/* background: alpha(@surface, .6); */
/* box-shadow: 0px 0px 2px rgba(0, 0, 0, .6); */
/* } */

.modules-right {
  color: @on_surface;
  font-size: 1.6rem;
}

tooltip {
  background: alpha(@surface, 0.8);
  border: 2px solid alpha(@primary, 0.7);
  border-radius: 12px;
  color: @on_surface;

}

tooltip label {
  all: unset;
  font-size: 1.4rem;
  padding: 12px;
}

#battery:hover,
#pulseaudio:hover,
#network:hover,
#bluetooth:hover,
#power-profiles-daemon:hover,
#idle_inhibitor:hover,
#idle_inhibitor.activated:hover,
#idle_inhibitor.deactivated:hover,
#custom-colorpicker:hover,
#clock:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  transition: all .3s ease-in-out;
  text-shadow: 0px 0px 2px alpha(@inverse_surface, 0.6);
}

/*---------QuickSettings-----------------*/
#quicksettings {
  all: unset;
  padding: 0 8px;
  margin: 3px 6px;
  border-radius: 16px;
  background: alpha(@surface, .5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
  transition: all .3s ease-in-out;
}

#battery {
  margin: 0 8px;
  transition: all .3s ease-in-out;
  color: @on_surface;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: @error_container;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  margin: 0 8px;
  transition: all .3s ease-in-out;
  color: @on_surface;
}

#pulseaudio {
  margin: 0 4px;
  transition: all .3s ease-in-out;
  color: @on_surface;
}


#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  margin: 0 4px;
  min-height: 10px;
  min-width: 80px;
  border: 1px solid alpha(@inverse_surface, 0.7);
  border-radius: 8px;
  background: alpha(@surface_variant, .7);
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: alpha(@tertiary, .9);
}



#bluetooth {
  padding: 0 4px;
  transition: all .3s ease;
  color: @on_surface;
}

/*---------Tools-----------------*/

#tools {}

#power-profiles-daemon {
  margin: 0 8px;
  transition: all .3s ease-in-out;
}

#power-profiles-daemon.performance {
  color: @red;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
  transition: all .3s ease-in-out;
}

#power-profiles-daemon.power-saver {
  color: @green;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
  transition: all .3s ease-in-out;
}

#idle_inhibitor {
  margin: 0 8px;
  transition: all .3s ease-in-out;
}

#idle_inhibitor.activated {
  color: @brown;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

#custom-darklight {
  margin: 0 8px;
}

#custom-colorpicker {
  margin: 0 8px;
}

#custom-expand {
  margin: 0 8px;
  color: alpha(@on_surface, 2);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
  transition: all .3s ease;
}

#custom-expand:hover {
  color: rgba(255, 255, 255, 1.2);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}


/*---------Workspaces-----------------*/
#workspaces {
  font-size: 0.4rem;
  padding: 12px;
  margin: 3px 6px;
  border-radius: 24px;
  background: alpha(@surface, .6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
  transition: all .3s ease;
}

#workspaces button {
  padding: 2px 6px;
  margin: 0px 2px;
  min-width: 1px;
  border-radius: 16px;
  background: @on_surface_variant;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @primary;
  color: @scrim;
  min-width: 48px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  font-weight: bold;
  background-color: @tertiary;
  color: @scrim;
  border-radius: 16px;
  min-width: 48px;
  background-size: 400% 400%;
}

#workspaces button.urgent {
  font-weight: bold;
  background-color: @error;
  color: @scrim;
  border-radius: 16px;
  min-width: 48px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

/*---------SystemInfo-----------------*/

#clock {
  font-size: 1.2rem;
  padding: 0 12px;
  margin: 3px 6px;
  border-radius: 16px;
  background: alpha(@surface, .5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
  transition: all .3s ease;
}

#systeminfo {
  font-size: 1.2rem;
  padding: 0 8px;
  margin: 3px 6px;
  border-radius: 16px;
  background: alpha(@surface, .5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
  transition: all .3s ease;
}

#cpu,
#memory,
#temperature {
  margin: 0 8px;
  transition: all .3s ease;
}

#tray,
#tray menu *,
#tray menu separator {
  margin: 0 8px;
  transition: all .3s ease;

}

/* #tray menu * { */
/* transition: all .3s ease; */
/* } */

/* #tray menu separator { */
/* transition: all .3s ease; */
/* } */

#clock:hover,
#systeminfo:hover,
#workspaces:hover,
#quicksettings:hover {
  background: shade(alpha(@surface, .5), 1.5);
  box-shadow: 0px 0px 2px alpha(@inverse_surface , .4);
  transition: all .3s ease-in-out;
}