* {
  all: unset;
  font-family: "Readex Pro SemiBold, CaskaydiaCove Nerd Font Propo";
  /* transition: background .2s ease-in-out; */
}

/* Avoid 'annoying' backgroud */
.blank-window {
  background: transparent;
}

/* CONTROL CENTER ------------------------------------------------------------------------ */

label {
  font-size: 1.2rem;
  margin: 0 4px;
  color: @on_surface;
}

progressbar,
progress,
trough {
  border-radius: 24px;
  box-shadow: 0 0 2px 0 alpha(@shadow, .6);
}

progressbar {
  /* background-color: @red; */
}

trough {
  background: @secondary_container;
  margin: 0 8px;
}

trough highlight {
  padding: 12px 0;
  background: @secondary;
  border-radius: 24px;
}

/* trough slider {} */

/* trough slider:hover {} */

/* WIDGETS --------------------------------------------------------------------------- */

.widget-label {
  margin: 16px;
}

/* Brightness -------------------------------------------------------------------------- */
.widget-backlight {
  margin: 8px;
}

/* .widget-backlight label {} */

/* .widget-backlight trough {} */

/* .widget-backlight trough highlight {} */

/* Volume -------------------------------------------------------------------------- */
.widget-volume {
  -gtk-dpi: 108;
  margin: 8px;
}

/* .widget-volume label {} */

/* .widget-volume trough {} */

/* .widget-volume trough highlight {} */

.widget-volume button {
  margin-right: 8px;
  -gtk-dpi: 128;
  text-shadow: 0 0 2px alpha(@shadow, .6);
}

/* .widget-volume button:hover {} */

.widget-volume button:hover label {
  color: @secondary;
}

.per-app-volume {
  margin: 8px 0;
}

/* Buttons menu *-------------------------------------------------------------------------- */
.widget-buttons-grid {
  margin: 8px;
  padding: 2px;
  border-radius: 24px;
  background: @surface_container;
  box-shadow: 0 0 2px 0 alpha(@shadow, .6);
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 0 4px;
  padding: 0.8rem 0.8rem;
  background: @surface_container;
  box-shadow: 0 0 2px 0 alpha(@shadow, .6);
  border-radius: 2rem;
}

.widget-buttons-grid>flowbox>flowboxchild>button label {
  font-size: 1rem;
  font-weight: bolder;
  -gtk-dpi: 132;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @secondary_container;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover label {
  color: @on_secondary_container;
}

.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked {
  background: @secondary;
}

.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked:hover {
  background: shade(@secondary, 1.2);
}

.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked label {
  color: @on_secondary;
}

/* Do not disturb *-------------------------------------------------------------------------- */
.widget-dnd {
  margin: 2px 4px;
  padding: 4px;
}

/* .widget-dnd label {} */

.widget-dnd>switch {
  padding: 4px;
  background: @surface_container;
  color: @on_surface;
  border-radius: 24px;
  box-shadow: 0 0 8px 0 alpha(@shadow, .6);
}

.widget-dnd>switch:hover {
  background: @secondary_container;
  color: @on_secondary_container;
}

.widget-dnd>switch:checked {
  background: @secondary;
  color: @on_secondary;
}

.widget-dnd>switch:hover:checked {
  background: shade(@secondary, 1.2);
  color: @on_secondary;
}

.widget-dnd>switch slider {
  background: alpha(@secondary_container, 0.4);
  border-radius: 24px;
  border: 2px solid @on_secondary_container;
  color: @on_secondary_container;
}

.widget-dnd>switch:checked slider {
  border: 2px solid @on_secondary_container;
  color: @on_secondary;
}

/* Notification clear button *-------------------------------------------------------------------------- */
.widget-title {
  margin: 2px 4px;
}

.widget-title button {
  padding: 8px 16px;
  background: @surface_container;
  border-radius: 24px;
  box-shadow: 0 0 8px 0 alpha(@shadow, .6);
}

.widget-title button label {
  font-size: 1.2rem;
}

.widget-title button:hover {
  background: @secondary_container;
}

.widget-title button:hover label {
  color: @on_secondary_container;
}


/* Buttons *-------------------------------------------------------------------------- */

.control-center {
  background: alpha(@surface, 0.7);
  border-radius: 24px;
  margin: 0;
  padding: 8px 8px 0 8px;
  box-shadow: 0 0 8px 0 alpha(@shadow, .6);
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background: @surface_container;
  border-radius: 24px;
  margin: 4px 0;
  box-shadow: 0 0 2px 0 alpha(@shadow, .6);
  padding: 8px 8px 8px 16px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: @red;
}

.control-center .notification-row .notification-background .notification .notification-content {}

.control-center .notification-row .notification-background .notification>*:first-child>* {}

.control-center .notification-row .notification-background .notification>*:last-child>* {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action {
  background: @surface_container;
  border-radius: 24px;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
  background: @secondary_container;
}

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 24px;
  color: @on_surface;
  background-color: @surface;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @secondary_container;
}


Notifications expanded-group .notification-group {
  margin: 0 4px 8px 4px;
}

.notification-group-headers {
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.notification-group-icon {
  padding: 4px;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: @surface_container;
  color: @on_surface;
  margin: 4px;
  border-radius: 24px;
  padding: 8px;
  box-shadow: 0 0 2px 0 alpha(@shadow, .6);
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @secondary_container;
}