* {
  all: unset;
  font-size: 1rem;
  font-family: "Readex Pro SemiBold, CaskaydiaCove Nerd Font";
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: alpha(@surface, .6);
  border-radius: 16px;
  margin: 16px;
  padding: 8px;
  box-shadow: 0 0 2px 0 alpha(@shadow, .6);
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 12px;
  border-radius: 12px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid @red;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  /* margin: 8px; */
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* {
  min-height: 48px;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action {
  border-radius: 12px;
  background-color: @surface_container;
  margin: 2px;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
  background-color: @secondary_container;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
  background-color: @on_surface_container;
  color: @on_surface;
}

/* .image {} */

.app-icon.bottom.right {
  margin: 4px;
}

.summary {
  margin-left: 16px;
  font-weight: 800;
  font-size: 1.2rem;
}

.body {
  margin-left: 16px;
  font-size: 1rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  border-radius: 24px;
  background-color: @surface;
  color: @on_surface;
  padding: 4px;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @secondary_container;
  color: @on_secondary_container;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @secondary_container;
  color: @on_secondary;
}

.notification.critical progress {
  background-color: @primary;
}

.notification.low progress,
.notification.normal progress {
  background-color: @primary;
}
