* {
  /* color: @on_surface; */
  all: unset;
  font-size: 1rem;
  font-family: "Readex Pro SemiBold";
  /* transition: 200ms; */
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: alpha(@surface, .5);
  border-radius: 24px;
  /* border: 2px solid @lavender; */
  margin: 16px;
  padding: 8px;
  box-shadow: 0 0 2px 0 alpha(@shadow, .6);
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 0.4rem;
  border-radius: 0.8rem;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid @red;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 1rem;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action {
  border-radius: 0.5rem;
  background-color: alpha(@surface_variant, .8);
  margin: 0.4rem;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
  background-color: @hover;
  border: 1px solid @lavender;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
  background-color: @lavender;
  color: @on_surface;
}

.image {
  margin: 10px 20px 10px 0px;
}

.summary {
  font-weight: 800;
  font-size: 1rem;
}

.body {
  font-size: 0.8rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  /* background: transparent; */
  /* border-radius: 20px; */
  color: transparent;
  /* background-color: alpha(#fff, 0.1); */
  /* margin: 0px; */
  /* padding: 4px; */
  all: unset;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @lavender;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @lavender;
  color: @on_surface;
}

.notification.critical progress {
  background-color: @lavender;
}

.notification.low progress,
.notification.normal progress {
  background-color: @lavender;
}
