
.power {
    font-size: 1.8rem;
    font-weight: bolder;
    background-color: $dark-primary;
    color: $dark-surface;
    border-radius: 2rem;
    padding: 0 0.8rem;
    margin-left: 0.4rem;
    margin-right: 0.6rem;
    /* margin: 0 0.8rem; */
    transition: 0.3s;
}

.power:hover {
    background-color: mix($dark-primary, $dark-on-surface, 70%);
}
