@import ".cache/colors/colors.css";


* {
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
}

*:selected {
  color: @on_primary;
  background-color: @primary;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border-radius: 16px;
  background-color: @surface;
  box-shadow: 0 0 2px 0 alpha(@shadow, .6);
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @surface;
}


/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @surface;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
}

/* Input */
#input {
  margin: 5px;
  padding: 10px;
  border: none;
  color: @on_surface;
  background-color: @secondary;
}

/* Text */
#text {
  margin: 5px;
  padding: 10px;
  border: none;
  color: @on_surface;
}

/* Selected Entry */
#entry:selected {
  background-color: @primary;
  border-radius: 5px;
}

#entry:selected #text {
  color: @on_primary;
}
