<darkmode>
<transparent>
$primary_paletteKeyColor: {{colors.primary.default.hex}};
$secondary_paletteKeyColor: {{colors.secondary.default.hex}};
$tertiary_paletteKeyColor: {{colors.tertiary.default.hex}};
$neutral_paletteKeyColor: {{colors.outline.default.hex}};
$neutral_variant_paletteKeyColor: {{colors.outline_variant.default.hex}};
$background: {{colors.background.default.hex}};
$onBackground: {{colors.on_background.default.hex}};
$surface: {{colors.surface.default.hex}};
$surfaceDim: {{colors.surface_dim.default.hex}};
$surfaceBright: {{colors.surface_bright.default.hex}};
$surfaceContainerLowest: {{colors.surface_container_lowest.default.hex}};
$surfaceContainerLow: {{colors.surface_container_low.default.hex}};
$surfaceContainer: {{colors.surface_container.default.hex}};
$surfaceContainerHigh: {{colors.surface_container_high.default.hex}};
$surfaceContainerHighest: {{colors.surface_container_highest.default.hex}};
$onSurface: {{colors.on_surface.default.hex}};
$surfaceVariant: {{colors.surface_variant.default.hex}};
$onSurfaceVariant: {{colors.on_surface_variant.default.hex}};
$inverseSurface: {{colors.inverse_surface.default.hex}};
$inverseOnSurface: {{colors.inverse_on_surface.default.hex}};
$outline: {{colors.outline.default.hex}};
$outlineVariant: {{colors.outline_variant.default.hex}};
$shadow: {{colors.shadow.default.hex}};
$scrim: {{colors.scrim.default.hex}};
$surfaceTint: {{colors.primary.default.hex}};
$primary: {{colors.primary.default.hex}};
$onPrimary: {{colors.on_primary.default.hex}};
$primaryContainer: {{colors.primary_container.default.hex}};
$onPrimaryContainer: {{colors.on_primary_container.default.hex}};
$inversePrimary: {{colors.inverse_primary.default.hex}};
$secondary: {{colors.secondary.default.hex}};
$onSecondary: {{colors.on_secondary.default.hex}};
$secondaryContainer: {{colors.secondary_container.default.hex}};
$onSecondaryContainer: {{colors.on_secondary_container.default.hex}};
$tertiary: {{colors.tertiary.default.hex}};
$onTertiary: {{colors.on_tertiary.default.hex}};
$tertiaryContainer: {{colors.tertiary_container.default.hex}};
$onTertiaryContainer: {{colors.on_tertiary_container.default.hex}};
$error: {{colors.error.default.hex}};
$onError: {{colors.on_error.default.hex}};
$errorContainer: {{colors.error_container.default.hex}};
$onErrorContainer: {{colors.on_error_container.default.hex}};
$primaryFixed: {{colors.primary_fixed.default.hex}};
$primaryFixedDim: {{colors.primary_fixed_dim.default.hex}};
$onPrimaryFixed: {{colors.on_primary_fixed.default.hex}};
$onPrimaryFixedVariant: {{colors.on_primary_fixed_variant.default.hex}};
$secondaryFixed: {{colors.secondary_fixed.default.hex}};
$secondaryFixedDim: {{colors.secondary_fixed_dim.default.hex}};
$onSecondaryFixed: {{colors.on_secondary_fixed.default.hex}};
$onSecondaryFixedVariant: {{colors.on_secondary_fixed_variant.default.hex}};
$tertiaryFixed: {{colors.tertiary_fixed.default.hex}};
$tertiaryFixedDim: {{colors.tertiary_fixed_dim.default.hex}};
$onTertiaryFixed: {{colors.on_tertiary_fixed.default.hex}};
$onTertiaryFixedVariant: {{colors.on_tertiary_fixed_variant.default.hex}};
// $wallpaper_path: '{{image}}';
// $success: #B5CCBA;
// $onSuccess: #213528;
// $successContainer: #374B3E;
// $onSuccessContainer: #D1E9D6;
$term0: #bac2de;
$term1: #f38ba8;
$term2: #a6e3a1;
$term3: #f9e2af;
$term4: #89b4fa;
$term5: #f5c2e7;
$term6: #94e2d5;
$term7: #585b70;
$term8: #a6adc8;
$term9: #f38ba8;
$term10: #a6e3a1;
$term11: #f9e2af;
$term12: #89b4fa;
$term13: #f5c2e7;
$term14: #94e2d5;
$term15: #45475a;

